#header {
	height: 1em;
	width: 100%;
	font-family: Arial;
	font-size: small;
}

.hlink {
	text-decoration: none;
	margin-left: 1em;
	color: #808080;
	float: right;
}

#logo {
	width: 251px;
	margin-top: 7em;
	margin-left: auto;
  margin-right: auto;
}

#footer {
	height: 35px;
	width: 100%;
	background-color: #f2f2f2;
	font-family: Arial;
	color: #808080;
	position: absolute;
	bottom: 0;
	font-size: small;

}

.brlink, .bllink {
	text-decoration: none;
	height: 35px;
	margin-right: 2em;
	margin-left: 2em;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 35px;
}

.bllink {
	float: right;
} 

a:visited {
	color: #808080;
}
